a.TopTable{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FF9900;
	text-decoration: underline;
	cursor: default;

	
}

a.TopTable:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #336699;
	text-decoration: underline;
	cursor: default;

	
}

.TopLogoTable {
	background-image: url(images/logobarbg.gif);

}.Bold {
	font-weight: bold;
}
.PostViewLightWhiteBG {
	background-color: #f9f9f9;
}
.PostViewPostTable {
	padding: 5px;
	width: 90%;
	border: 1px solid #CCCCCC;

}
.TopicViewSubject {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #336699;
	text-decoration: none;
	cursor: default;
}
.TopicViewSubjectBar {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #336699;
	text-decoration: none;
	cursor: default;
	background-image: url(images/catbg.gif);
}
.TopicViewTopicTable {
	border: 1px solid #999999;
	padding: 3px;
	width: 95%;
}
.TopicViewTopicTableBlue {

	border: 1px solid #999999;
	padding: 3px;
	width: 95%;
}
.ForumViewCatagoryBlue {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #336699;
	text-decoration: none;
	cursor: default;
	background-image: url(images/catbg_blue.gif);
}
.PostViewLightBlueBG {

	background-color: FCFDFD;
}
.PostViewLightBlueBar {
	background-color: FCFDFD;
}
.PostViewLightOrangeBarCopy {
	background-color: FCFDFD;
}
.PostViewLightOrangeBG {


	background-color: FCFDFD;
}
TopicViewPoster {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FF9900;
	text-decoration: none;
	cursor: default;
}
.PostViewPoster {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF9900;
	text-decoration: none;
	cursor: default;
}
.PostViewLightOrange {


	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #336699;
	text-decoration: none;
	cursor: default;
	background-image: url(images/catbg_orange.gif);
}
