a.ThreadViewSortByLinks{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ff9900;
	font-weight: bold;
	text-decoration: none;
	cursor: default;
}

a.ThreadViewSortByLinks:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
	cursor: default;
	
}.ThreadViewTopBar {
	background-image: url(images/shadowbg.gif);
	border-top: 1px solid #999999;


}

.ThreadViewPadding {
	padding: 3px;
	width: 100%;
}

a.ThreadViewForumLinks{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #336699;
	font-weight: bold;
	text-decoration: none;
	cursor: default;
}

a.ThreadViewForumLinks:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #336699;
	font-weight: bold;
	text-decoration: underline;
	cursor: default;
}

.ThreadViewForumOptionsBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	cursor: default;
}

a.ThreadViewModLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FF9900;
	text-decoration: none;
	cursor: default;
}
a.ThreadViewModLink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FF9900;
	text-decoration: underline;
	cursor: default;
}
.ThreadViewCatagory {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #336699;
	text-decoration: none;
	cursor: default;
	background-image: url(images/catbg.gif);

}
.ThreadViewForumsListBG {
	background-color: #F5F5F5;
}
.ThreadViewTableBorder1px {
	border: 1px solid #999999;
}

a.ThreadViewPageLinks {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #336699;
	font-weight: bold;
	text-decoration: none;
	cursor: default;
}

a.ThreadViewPageLinks:hover {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
	cursor: default;
}

a.ThreadViewForumTree {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF9900;
	font-weight: bold;
	text-decoration: none;
	cursor: default;
}

a.ThreadViewForumTree:hover {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
	cursor: default;
}